click
coverage
awscli
flake8
python-dotenv>=0.5.1
alabaster==0.7.10
Babel==2.5.1
boto==2.48.0
boto3==1.5.8
botocore==1.8.22
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
docutils==0.14
gensim==3.2.0
idna==2.6
imagesize==0.7.1
ipykernel==4.7.0
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jupyter-client==5.2.1
jupyter-core==4.4.0
lightgbm==2.0.12
MarkupSafe==1.0
matplotlib==2.1.1
nltk==3.2.5
numpy==1.13.3
pandas==0.22.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==9.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
wordcloud==1.3.1
xgboost==0.7.post3
